{% extends 'main/base.html' %}

{% block title %}
Об университетах
{% endblock %}

{% block content %}
<h1>AIU</h1>
	<p>Международный университет Астана (AIU) был создан 21 апреля 2018 года.

<p>11 июня 2018 года была получена лицензия, позволяющая Международному университету Астана осуществлять образовательную деятельность.</p>

<p>25 июня 2018 года университет успешно прошел первичную институциональную аккредитацию.</p>

<p>Международный университет Астана (AIU) учрежден Международным научным комплексом «Астана» (International Science Complex «ASTANA»), являющимся уникальным проектом Президента РК Н.А. Назарбаева, направленным на создание в столице Казахстана инновационного исследовательского комплекса.</p>

<p>В основу структурных подразделений AIU легли 7 исследовательских институтов и 5 научных центров Международного научного комплекса «Астана»:</p>
<ol>
	<li>01 Институт экономических исследований</li>

	<li>02 Институт правовых исследований</li>

	<li>03 Институт информационных технологий и безопасности</li>

	<li>04 Институт международных отношений и безопасности</li>

	<li>05 Институт искусства</li>

	<ol>06 Институт географии и природопользования</li>

	<li>07 Каспийский институт</li>

	<li>08 Каспийский региональный центр мониторинга окружающей среды и чрезвычайных ситуций</lili>09 Центр конкурентоспособности</li>

	<li>10 Центр фундаментальных и научно-прикладных исследований МГУ им. М.В. Ломоносова и МНК «Астана»</li>

	<li>11 Центр исследования Китая и Центральной Азии Фуданьского Университета и МНК «Астана»</li>

	<li>12 Исследовательский центр «Astana - RAND»</li>
</ol>
<p>Фундаментальная, научно-исследовательская деятельность университета включает в себя:</p>
<li>
	<ul>- проведения ведущими центрами и лабораториями университета теоретических и экспериментальных исследований, разработка теоретических концепций и моделей, выработка гипотез и теорий в сфере гуманитарных и естественных наук;
	</ul>
	<ul>- реализация научных исследований национального и международного масштаба в области экономики и права, инженерии и экологии, географии и природных ресурсов, международных отношений и глобалистики, педагогики и искусства с участием ведущих научных учреждений Казахстана и мировых ценров науки.
	</ul>
</li>
<p>А также научно-прикладная деятельность: </p>
<li>

	<ul>- разработка и реализация научных-прикладных программ и проектов, нацеленных на социально-экономическое развитие Казахстана, региональной и глобальной кооперации, трансферта инноваций и технологий, коммерциализация науки и производства, привлечений инвестиций и др.;
	</ul>
	<ul>- привлечение талантливых молодых ученых и исследователей со всего мира в перспективные национальные и международные проекты «наука - бизнес - производство».
	</ul>
</li>
 

<p>AIU на основании договоров и меморандумов сотрудничает и взаимодействует с различными академическими образовательными программами и научными проектами ведущих университетов, исследовательских и мозговых центров мирового уровня.</p>

<p> В AIU в партнерстве с ведущими университетами разработана программа двойного диплома, а также обмен обучающимися, академическими и управленческими штатами, организация практик и трудоустройство выпускников.</p>

{% endblock %}

